body {
    font-family: 'Arial', sans-serif;
    background-image: url('luffy.jpeg');
    background-size: cover;
    background-position: center;
    color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 600px;
}

h1 {
    margin: 0;
    padding: 20px 0;
    font-size: 2.5em;
    font-family: 'Courier New', Courier, monospace;
    color: #FFD700; /* Cor bonita para o título */
    text-shadow: 2px 2px 4px #000000; /* Sombra para destacar o texto */
}

#new-task {
    padding: 15px;
    width: 70%;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#add-task {
    padding: 15px 30px;
    margin-left: 10px; /* Espaço entre o input e o botão */
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-task:hover {
    background-color: #45a049;
}

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
}

.task-item {
    background-color: #333;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.task-item.completed {
    text-decoration: line-through;
    background-color: #444;
}

button.delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button.delete:hover {
    background-color: #d32f2f;
}
